
数据/贫困生预测/验证数据/borrow_final_test.txt
数据/贫困生预测/验证数据/card_final_test.txt
数据/贫困生预测/验证数据/dorm_final_test.txt
数据/贫困生预测/验证数据/library_final_test.txt
数据/贫困生预测/验证数据/score_final_test.txt
数据/贫困生预测/验证数据/subsidy_final_test.txt
